* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;

	padding: 20px 0;
}

textarea {
	resize: vertical;
	min-height: 150px;
}

.tokens {
	word-wrap: break-word;

	span {
		padding: 0 5px;
		display: inline-block;
	}
}


em {
	padding: 0 5px;
}

.results {
	margin: 20px 0;
}

summary {
	cursor: pointer;
	outline: none;
}

.row {
	margin-top: 20px;
}
